<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SAG Upgrade Factory</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<style>
.main-container {
	border: 1px solid #c3c3c3;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
	margin-top: 100px;
	padding: 30px 20px;
	background-color: #80BDE3;
}
</style>
</head>
<body>
	<div class="container text-center">
		<h1>Dat file attribute selection</h1>
		<h3>
			<a th:href="@{/loginController}">Home</a>
		</h3>
		<div class="container main-container">

			<form th:action="@{/generateFile}" th:object="${datFileFilter}"
				method="post">
				<table border="1">
					<tr>
						<td>Migrate Master Password:</td>
						<td><label class="radio-inline"> <input type="radio"
								th:value="true" th:field="*{migrateMasterPassword}" />Yes
						</label> <label class="radio-inline"> <input type="radio"
								th:value="false" th:field="*{migrateMasterPassword}" />No
						</label></td>
					</tr>
					<tr>
						<td>Migrate JDBC Functions:</td>
						<td><label class="radio-inline"> <input type="radio"
								th:value="true" th:field="*{migrateJDBCFunctions}" />Yes
						</label> <label class="radio-inline"> <input type="radio"
								th:value="false" th:field="*{migrateJDBCFunctions}" />No
						</label></td>
					</tr>
						<tr>
						<td>Migrate JDBS Drivers:</td>
						<td><label class="radio-inline"> <input type="radio"
								th:value="true" th:field="*{migrateJDBCDrivers}" />Yes
						</label> <label class="radio-inline"> <input type="radio"
								th:value="false" th:field="*{migrateJDBCDrivers}" />No
						</label></td>
					</tr>
					<tr>
						<td>Migrate JDBC Pools:</td>
						<td><label class="radio-inline"> <input type="radio"
								th:value="true" th:field="*{migrateJDBCPools}" />Yes
						</label> <label class="radio-inline"> <input type="radio"
								th:value="false" th:field="*{migrateJDBCPools}" />No
						</label></td>
					</tr>
						<tr>
						<td>Migrate EmbeddedDB:</td>
						<td><label class="radio-inline"> <input type="radio"
								th:value="true" th:field="*{migrateEmbeddedDb}" />Yes
						</label> <label class="radio-inline"> <input type="radio"
								th:value="false" th:field="*{migrateEmbeddedDb}" />No
						</label></td>
					</tr>
					<tr>
						<td>Migrate Passman:</td>
						<td><label class="radio-inline"> <input type="radio"
								th:value="true" th:field="*{migratePassman}" />Yes
						</label> <label class="radio-inline"> <input type="radio"
								th:value="false" th:field="*{migratePassman}" />No
						</label></td>
					</tr>
					<tr>
						<td><button class="btn btn-primary"
				onclick='javascript:window.history.go(-1)'>Back</button></td>
						<td><button class="btn btn-primary" type="submit">Generate
								Dat File</button></td>
					</tr>
				</table>
			</form>
		</div>

	</div>

</body>
</html>