<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SAG Upgrade Factory</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <style>
	
	.main-container{
		border: 1px solid #c3c3c3;
		box-shadow: 0px 0px 2px rgba(0,0,0,.5);
		margin-top:100px;
		padding: 30px 20px;
		background-color:rgba(255,255,255,.6);
	}
	</style>
</head>
<body>
	<div class="container text-center">
		<h1>Dat file details</h1>
		<h3>
			
		</h3>
		<div class="container main-container">
			<table border="1">
				<tr>
					<td><a th:href="@{/loginController}">Home</a></td>
					<td><button class="btn btn-primary"
				onclick='javascript:window.history.go(-2)'>Back</button></td>
				</tr>
				<tr>
					<td>Dat file path:</td>
					<td th:text="${targetFilePath}" />
				</tr>
				<tr>
					<td>Dat file content:</td>
					<td align="left" th:text="${FileContent}" />
				</tr>
				
			</table>

		</div>

	</div>

</body>
</html>